* {
  font-family: Helvetica, sans-serif;
  --color-background: #242a42;
  --color-alternativa: #cbdbe8;
  --color-hover: #f0872b;
}
body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}
/*tela questionario=======================================================================================================================================*/
#questionario {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  border: 2px solid var(--color-alternativa);
  border-radius: 40px;
  padding-bottom: 10px;
}
#questionario h2 {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  color: var(--color-alternativa);
  font-weight: bold;
}

/*=botões de alternativas======================================================================================================================================*/
#opcoes {
  width: 80vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
  padding-top: 10px;
  padding-bottom: 10px;
}

.opcao {
  width: calc(80% - 80px);
  text-align: center;
  font-size: 22px;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 35px;
  background-color: var(--color-alternativa);
  margin-top: 10px;
  margin-bottom: 10px;
}

.opcao:hover,
button:hover,
#resultado button:hover {
  background-color: var(--color-hover);
  transition: 0.5s;
}
/*botão avançar-retornar pergunta=======================================================================================================================================*/
.button-group {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
button {
  margin: 10px;
  padding: 15px;
  cursor: pointer;
  background-color: var(--color-alternativa);
  font-weight: bold;
  border-radius: 20px;
  border: none;
}

button:disabled {
  background-color: grey;
}
.selecionada {
  background-color: var(--color-hover);
}
input {
  display: none;
}

/*tela resultado=======================================================================================================================================*/
#resultado {
  margin: auto auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  height: 100vh;
}
#resultado button {
  background-color: var(--color-background);
  color: var(--color-alternativa);
}

.box-resultado {
  width: 60%;
  height: 60%;
  background-color: var(--color-alternativa);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hide {
  display: none !important;
}
/*item gabarito*/
.gabarito {
  border: 1px solid var(--color-background);
  border-radius: 30px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  width: 90%;
}
.item-gabarito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.item-gabarito p {
  margin: 5px;
}
.gabarito h3 {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 425px) and (max-height: 900px) {
  h2 {
    font-size: 1.2rem !important;
  }
  #questionario {
    width: 95vw;
    height: calc(100vh-40px);
  }
  #opcoes {
    width: 95vw;
  }
  .opcao {
    font-size: 0.9rem;
  }
  .box-resultado {
    width: 80%;
    height: 90%;
  }
}
